
.vs/VirtualResume/v15/.suo
.vs/VirtualResume/v15/Browse.VC.db
.vs/VirtualResume/v15/Browse.VC.opendb
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/COMMON-48871636/COMMON.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/GLAD-649aa9e0/GLAD.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/INFO_RESUME-23355444/INFO_RESUME.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/MAIN-4415478d/MAIN.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/MESH-7224e1fa/MESH.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/MODEL-cd041f5e/MODEL.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/RESOURCE-6839dc95/RESOURCE.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/SKILL_RESUME-7666afc/SKILL_RESUME.ipch
.vs/VirtualResume/v15/ipch/AutoPCH/VIRTUALRESUME-42340849/TEXTRENDER-86d5fab2/TEXTRENDER.ipch
VirtualResume/VirtualResume.vcxproj.filters
VirtualResume/x64/Debug/glad.obj
VirtualResume/x64/Debug/Info_resume.obj
VirtualResume/VirtualResume.vcxproj.filters
VirtualResume/VirtualResume.vcxproj.filters
VirtualResume/x64/Debug/VirtualResume.tlog/VirtualResume.lastbuildstate
VirtualResume/VirtualResume.vcxproj.filters
VirtualResume/x64/Debug/glad.obj
VirtualResume/x64/Debug/vc140.idb
VirtualResume/x64/Debug/vc140.pdb
VirtualResume/x64/Debug/vc141.pdb
VirtualResume/x64/Debug/vc141.idb
VirtualResume/x64/Debug/VirtualResume.log
*.tlog
*.tlog
VirtualResume/x64/Debug/VirtualResume.tlog/CL.write.1.tlog
x64/Debug/VirtualResume.exe
VirtualResume/x64/Debug/glad.obj
VirtualResume/x64/Debug/main.obj
VirtualResume/VirtualResume.vcxproj.filters
x64/Debug/VirtualResume.pdb
